#app {
    max-width: 1000px;
    margin: 50px auto;
}

#card-form {
    display: flex;
}

.card-form__field-container {
    margin-right: 25px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.your-cards-container {
    display: flex;
    flex-wrap: wrap;
}

hr {
    margin: 25px 0;
}
