@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
label {
    font-family: 'Gotu', 'Helvetica', 'Arial', sans-serif;
}

label {
    display: block;
}

body {
    background: #edf2f7;
}
